body{
 
    font-family: 'Barlow', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.main__header{
    position: relative;
    height: 0;
    padding-bottom: 55.5%;
    /* padding-bottom: 50%; */

  
}
.header__image{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    z-index: -1;

  
}


/* new ends */
.navbar{
    background-color: transparent;
     display: flex;
     justify-content: space-between;
     padding: 2rem 2.5rem;
     align-items: center;
}
.contact__btn{
    padding: 1rem 1.5rem;
    background-color: white;
    color: black !important;
    border-radius: 100px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'Fraunces', serif;
}

.Right__content_navbar{
    width: 30%;
}

.nav__list{
    display: flex;
    /* background-color: palevioletred; */
    flex-direction: row;
    justify-content: space-between;

}

.list__navbar{
    list-style: none;
}

.nav__link{
    text-decoration: none;
    color: white;
}
.nav__link:link{
    color: white;
}
.nav__link:visited{
    
    color: white;
}
.nav__link:active{
    color: white;
}
.nav__link:hover{
    color: white;

}



/* main content */

.heading__section{
    display: flex;
    justify-content: center;
    
}

.main__heading{
    font-weight: 900;
    letter-spacing: 12px;
    color: white;
    margin: 100px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 3rem;
}


/* ========================== section-2 ======================== */
.white_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2rem;
    padding: 0 10rem;
    /* text-align: left; */
    align-items: left;
    /* background-color: black !important; */
    
    
}

.section__two{
    display: flex;
     height: 39rem;
    


}
.section_two_part_one{
  width: 50%;
  background-color: white;
}
.section_two_part_two{
  width: 50%;
  
}

.egg_yellow_img{
    width: 100%;
    height: 100%;
}

.heading__style{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding: 0 6rem 0 0;
    color:  hsl(212, 27%, 19%);
    
}

.learn__more{
    color:  hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}
.para__style{
    padding: 0 5rem 0 0;
    font-size: 0.9rem;
    font-weight: 100;
    color: hsl(232, 10%, 55%);
}


/* section-4 background image work*/
.lichi_orange__section{
    display: flex;
    height: 39rem;
  
}
.section__two{
    height: fit-content;
}
#lichibox, #orangebox{
    position:relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}
#lichibox::before {
    content: '';
    background: url('images/desktop/image-graphic-design.jpg') no-repeat center center/cover;
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#orangebox::before {
    content: '';
    background: url('images/desktop/image-photography.jpg') no-repeat center center/cover;
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.same__content_design{
    width: 40%;
    display: flex;
    gap: 1rem;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
}
.heading__graphic_design{
    font-family: 'Fraunces', serif;
    font-size: 2rem;

}
.heading__photography{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
  
}
.para{
    font-size: 0.9rem;
    font-weight: 100;
  
}
.graphic__design{
    color:  hsl(167, 40%, 24%);
}
.orange__design{
    color:  hsl(198, 62%, 26%);
}


/* client testimonials */

#testimonial__section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.clients__feedback{
    display: flex;
    
   
}
.client{
    display: flex;
    /* gap: 2rem; */
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.client_img_design{
    border-radius: 100%;
    width: 5rem;

}
.client_para_design{
    color:hsl(213, 9%, 39%);
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 0 2.5rem;
    margin-bottom: 4rem;
}
.client_img_design{
    margin-bottom: 4rem;
}
.client__name_design{
    margin-bottom: 0.8rem;
    font-family: 'Fraunces', serif;
    color:  hsl(212, 27%, 19%);
    
}
.client__title_design{
    color: hsl(210, 4%, 67%);
    font-size: 0.8rem;
}
.client_test_heading{
    font-family: 'Fraunces', serif;
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}